* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edede9;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  min-height: 100vh;
}

button, a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: inherit;
}