.title {
  text-align: center;
  line-height: 2.7rem;
  font-size: 2rem;
  color: #2b2d42;
  font-weight: 700;
    span {
      color: #fb8500;
    }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #edede9;
  color: #2b2d42;
  margin: 2rem auto;
  width: 1024px;
  font-size: 1rem;

  h3 {
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    span {
      color: #06d6a0;
    }
  }

}

