.title {
  text-align: center;
  color: #2b2d42;
  font-weight: 700;
    span {
      color: #fb8500;
    }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edede9;
  color: #2b2d42;
  margin: 0 auto;
  font-size: 1rem;
  p {
    text-align: center;
  }
  max-width: 1024px;
  min-height: 100vh;
}

