.ctaDonators {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  text-align: center;

  h1 {
    color: #1b263b;
    font-size: 2rem;
    line-height: 3rem;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: bold;

    span {
      color: #06d6a0;
    }
  }

  p {
    font-weight: bold;
    font-size: .9rem;
    border-radius: .5rem;
    background-color: #eae0d5;
    padding: .8rem;
  }

  .payButtons {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    gap: .5rem;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: .5rem;
      width: 200px;
      border-radius: .4rem;
    }

    .payCash {
      background-color: #ffc300;
      font-weight: 600;
    }

    .payCard {
      background-color: #1b2021;

      svg {
        color: #eae0d5;
      }
    }
  }
}

.donators {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  max-width: 750px;
  justify-self: center;
}

.donatorsImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  gap: .5rem;

  img {
    border: 2px solid #fb8500;
    box-shadow: 0 0 5px rgba($color: #343a40, $alpha: .5);
    border-radius: 50%;
    padding: .1rem;
    transition: ease .5s;

    &:hover {
      transform: scale(1.2);
      border: 2px solid #b5179e;
      padding: .2rem;
    }
  }
}